<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionários</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include('partials/navbar') %>

        <div class="container">

            <h1>Cadastro de Usuário</h1>
            <form action="/funcionarios/" method="POST">
                <div>
                    <label for="nome">Nome: </label>
                    <input type="text" id="nome" name="nome" required>
                </div>

                <div>
                    <label for="categoria">Função:</label>
                    <select id="categoria" name="categoriaId">
                        <option value="Selecione">--Selecione--</option>
                        <option value="1">G</option>
                        <option value="2">F</option>
                    </select>
                </div>

                <div>
                    <label for="turno">Turno:</label>
                    <select id="turno" name="turnoId">
                        <option value="Selecione">--Selecione--</option>
                        <option value="1">M</option>
                        <option value="2">V</option>
                        <option value="3">N</option>
                    </select>
                </div>

                <div>
                    <label for="horasTrabalhadas">Horas Trabalhadas:</label>
                    <input type="text" id="horasTrabalhadas" name="horasTrabalhadas">
                </div>
                <div>
                    <label for="salarioMinimo">Salario Minimo Estadual:</label>
                    <input type="text" id="salarioMinimo" name="salarioMinimo">
                </div>
                <div class="div-btn">
                    <button>Cadastrar</button>
                </div>
            </form>
        </div>
</body>

</html>