<nav>
    <ul class="nav">
        <li class="li-nav"><a href="/" class="a-nav">Home</a></li>
        <li class="li-nav"><a href="/cadastro" class="a-nav">Cadastrar Funcionários</a></li>
        <li class="li-nav"><a href="/funcionarios/" class="a-nav">Listar Funcionários</a></li>
    </ul>
</nav>